*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: $backgroundColor;
  font-family: $primaryFont;
  display: flex;
  align-items: center;
  flex-direction: column;
  main {
    width: 50%;
    background-color: white;
    box-shadow: grey 1px 1px 5px;
  }
  input {
    &.new-todo {
      margin-left: 5%;
    }
    width: 95%;
    border: none;
    height: 40px;
    outline: none;
    padding: none;
    }
  ul.items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
article {
  display: flex;
  flex-direction: row;
  height: 40px;
  border-top: $innerBorderColor solid 2px;
  button {
    align-self: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: none;
    border: 1px solid lightgrey;
    margin: 10px;
    &:focus {
      outline: none;
    }
    &.delete {
      border-style: none;
      visibility: hidden;
    }
    &.visible {
      visibility: visible;
      color: $deleteColor;
      font-weight: bold;
      font-size: 30px;
      margin-top: -10px;
    }
  }
  input {
    display: none;
    box-shadow: inset 1px 1px 5px 2px #ddd;
    border: 1px solid #c8c8c8;
  }
}

// check color #60C3B0;
